{% extends 'forum/home.html' %}

{% block content %}
    <form class="w-50 mx-auto mb-auto mt-5" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Create</button>
    </form>
{% endblock %}

{% block nav_bar_items %}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  aria-current="page" href="{% url 'my_questions' %}">My Questions</a>
    </li>
{% endblock %}