{% extends 'forum/home.html' %}

{% block nav_bar_items %}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active"  aria-current="page" href="{% url 'my_questions' %}">My Questions</a>
    </li>
{% endblock %}

{% block delete %}
    <div class="d-flex flex-row">
        <a  href="{% url 'question_detail'  question.pk %}" class="btn btn-primary">Answer</a>
        <form method="post" class="w-25 px-5" action="{% url 'delete_question' question.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
{% endblock %}